.form {
  display: flex;
  justify-content: center;
  align-items: center;

  &__inputName {
    margin: 20px;
    padding: 5px;
    font-size: 30px;
    background-color: rgb(230, 225, 230);
    border-radius: 10px;
    box-shadow: 3px 3px 7px #222 inset;
  }
  &__inputButton {
    padding: 5px;
    font-size: 20px;
    background-color: $button-color;
    text-transform: uppercase;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      background-color: pink;
    }
  }
}
.wrap {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(230, 225, 230);
  &__container1 {
    margin: 5px;
    border: 4px dotted $border-color;
    &--title {
      font-size: 30px;
      margin: 10px;
      color: $background-colorbody;
    }
    &--section {
      margin: 10px;
    }
  }
  &__container2 {
    margin: 5px;
    border: 4px dotted $border-color;
    &--title {
      font-size: 30px;
      margin: 10px;
      color: $background-colorbody;
    }
    &--favourite-section {
      margin: 10px;
    }
  }
}
.show {
  list-style: none;
  margin: 20px;
}
.favouriteShow {
  list-style: none;
  margin: 20px;
}
.backstyle {
  border: 10px solid $background-colorbody;
  border-radius: 15px;
}
.body-style {
  width: 100%;
  background-color: $background-colorbody;
}
.js-reset {
  font-size: 22px;
  margin-left: 10px;
  padding: 8px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background-color: $button-color;
  }
}
.maintittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  margin: 20px;
  padding: 5px;
  color: rgb(230, 225, 230);
  opacity: 0.7;
  margin-left: -30px;
}
.removeButton {
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 5px;
  font-size: 16px;
  background-color: $button-color;
  text-transform: uppercase;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background-color: pink;
  }
}
