.inputName {
  margin: 20px;
  padding: 5px;
  font-size: 30px;
  background-color: rgb(230, 225, 230);
}
.inputButton {
  padding: 5px;
  font-size: 20px;
  background-color: plum;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    background-color: pink;
  }
}
.wrap {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(230, 225, 230);
}

.show {
  list-style: none;
}
.favouriteShow {
  list-style: none;
  margin: 20px;
}
.backstyle {
  border: 10px solid $background-colorbody;
}

.title {
  font-size: 30px;
  margin: 10px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 {
  margin: 5px;

  border: 5px dotted $border-color;
}
.section {
  margin: 10px;
}
.container2 {
  margin: 5px;
  border: 5px dotted $border-color;
}

.styleback {
  width: 100%;
  background-color: $background-colorbody;
}
.show {
  margin: 20px;
}
.title2 {
  font-size: 20px;
  margin-bottom: 5px;
}
.page__footer {
  margin: 10px;
  color: white;
  height: 50px;
}
