.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__inputName {
    width: 50%;
    padding: 5px;
    font-size: 20px;
    margin: 10px;
    background-color: rgb(230, 225, 230);
    border-radius: 10px;
    box-shadow: 3px 3px 7px #222 inset;
    @media all and(min-width:768px) {
      width: 70%;
      font-size: 30px;
    }
  }
  &__inputButton {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    background-color: $button-color;
    text-transform: uppercase;
    border-radius: 10px;
    @media all and(min-width:768px) {
      font-size: 20px;
      border-radius: 10px;
    }
    &:hover {
      cursor: pointer;
      background-color: pink;
    }
  }
}
.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(230, 225, 230);
  margin: 0px 30px;
  &__container1 {
    border: 4px dotted $border-color;

    &--title {
      margin: 5px;
      padding: 5px;
      font-size: 20px;
      color: $background-colorbody;
      @media all and(min-width:768px) {
        font-size: 30px;
      }
    }
    &--section {
    }
  }
  &__container2 {
    border: 4px dotted $border-color;
    &--title {
      margin: 5px;

      padding: 5px;
      font-size: 20px;
      color: $background-colorbody;
      @media all and(min-width:768px) {
        font-size: 30px;
      }
    }
    &--favourite-section {
    }
  }
}
.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 10px;
}
.favouriteShow {
  list-style: none;
  margin: 20px;
}
.backstyle {
  border: 5px solid $background-colorbody;
  border-radius: 15px;
  width: 100px;
  height: 150px;
  @media all and (min-width: 768px) {
    border: 10px solid $background-colorbody;
    width: 250px;
    height: 300px;
  }
}
.body-style {
  width: 100%;
  background-color: $background-colorbody;
}
.js-reset {
  font-size: 16px;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background-color: $button-color;
  }
  @media all and(min-width:768px) {
    font-size: 22px;
  }
}
.maintittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  padding: 5px;
  color: rgb(230, 225, 230);
  opacity: 0.7;
}
.removeButton {
  padding: 5px;
  font-size: 14px;
  background-color: $button-color;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 5px;
  &:hover {
    cursor: pointer;
    background-color: pink;
  }
  @media all and(min-width:768px) {
    font-size: 18px;
  }
}
.title2 {
  margin: 5px;
  font-size: 14px;
  text-align: center;
  width: 100px;
  @media all and (min-width: 768px) {
    font-size: 20px;
    width: 150px;
  }
}
.imgList {
  padding: 5px;
  width: 100px;
  height: 150px;
  @media all and (min-width: 768px) {
    width: 200px;
    height: 250px;
  }
}
.ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ul-fav {
  display: flex;
  flex-wrap: wrap;
}
.favouriteShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
