* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lobster Two", cursive;
  font-size: 18px;
}

.inputName {
  margin: 20px;
  padding: 5px;
}
.inputButton {
  padding: 5px;
}
.section {
  margin: 20px;
  font-weight: bold;
}
